# Phishing Template Validation Report

**Generated:** 2026-05-01 18:52:27 UTC

## Summary

- **Total Templates:** 399
- **Successfully Validated:** 120
- **Need Updates:** 183
- **WAF/Cloudflare Blocked:** 78
- **Errors:** 138

---

## Templates Needing Updates

### 1a-auto-phish

**Official URL:** https://www.1aauto.com

**Current Title:** `1A Auto | Aftermarket Car Parts -  Buy Quality Auto Parts Online`

**Description:** Let 1A Auto empower you to fix your car & save hundreds. More than quality auto parts! Auto Repair Video library. USA customer support. Fast & Free shipping.

**Current Matchers:**
```yaml
  - '<title>1A Auto | Aftermarket Car Parts -  Buy Quality Auto Parts Online'
```

**Status:** success

---

### 1password-phish

**Official URL:** https://www.1password.com

**Current Title:** `Passwords, Secrets, and Access Management | 1Password`

**Description:** Protect passwords and secrets, manage app access, and secure AI tools with 1Password. Easy to adopt from growing teams to enterprise.

**Current Matchers:**
```yaml
  - 'Password Manager for Families, Enterprise &amp; Business | 1Password'
```

**Status:** match_failed

---

### airbnb-phish

**Official URL:** https://www.airbnb.com

**Current Title:** `Airbnb: Holiday Rentals, Cabins, Beach Houses, Unique Homes & Experiences`

**Description:** Get an Airbnb for every kind of trip → 7 million holiday rentals → 2 million Guest Favourites → 220+ countries and regions worldwide

**Current Matchers:**
```yaml
  - 'https://a0.muscache.com/airbnb/static/'
  - 'Airbnb'
```

**Status:** success

---

### aliexpress-phish

**Official URL:** https://www.aliexpress.com

**Current Title:** `AliExpress - Affordable Chinese Stores & Free Shipping - Online Shopping`

**Description:** Passion shouldn't cost a fortune. On AliExpress, shop online for over 111 million affordable products from China on Fashion, Men's and Women's Clothing, Electronics, Toys, Tools, Home & Garden on our marketplace  with free shipping! Login app for coupons.

**Current Matchers:**
```yaml
  - 'AliExpress - Affordable Prices on Top Brands with Free Shipping'
```

**Status:** match_failed

---

### amazon-web-services-phish

**Official URL:** https://signin.aws.amazon.com

**Current Title:** `Cloud Computing Services - Amazon Web Services (AWS)`

**Description:** Amazon Web Services offers reliable, scalable, and inexpensive cloud computing services. Free to join, pay only for what you use.

**Current Matchers:**
```yaml
  - 'Amazon Web Services Sign-In'
```

**Status:** match_failed

---

### amc-plus-phish

**Official URL:** https://www.amcplus.com

**Current Title:** `AMC+ | Geographic Restriction - AMC Plus`

**Description:** Add a description about your page or projects. Should be around 135 to 160 characters.

**Current Matchers:**
```yaml
  - 'AMC+ features world-class originals, award-winning series, and exclusive movies. Includes Shudder &amp; Sundance Now. AMC+ is entertainment uncompromised. Start your free trial!'
  - '<title>AMC+ | Premium Streaming Bundle | Watch TV Shows &amp; Movies'
```

**Status:** match_failed

---

### american-express-phish

**Official URL:** https://www.americanexpress.com

**Current Title:** `Credit Cards, Rewards, Travel and Business Services | American Express UK`

**Description:** Welcome to American Express United Kingdom, provider of Credit Cards, Charge Cards, Travel & Insurance products. Apply for a Card or login to your Account.

**Current Matchers:**
```yaml
  - 'Credit Cards, Rewards, Travel and Business Services | American Express'
```

**Status:** success

---

### anz-phish

**Official URL:** https://www.anz.com

**Current Title:** `ANZ Personal – Bank accounts, home loans, credit cards & more | ANZ`

**Description:** ANZ offers a range of personal banking services such as internet banking, bank accounts, credit cards, home loans, personal loans, travel and international, investment and insurance. Learn about easy and secure ways to manage your money.

**Current Matchers:**
```yaml
  - '<title>ANZ Personal – Bank accounts, home loans, credit cards &amp; more | ANZ'
```

**Status:** success

---

### audible-phish

**Official URL:** https://www.audible.com

**Current Title:** `Audible | Listen to Audiobooks, Podcasts & Originals`

**Description:** Try Audible free for 30 days. Discover best-selling audiobooks, free podcasts and exclusive Audible Originals. Listen offline with the Audible app.

**Current Matchers:**
```yaml
  - 'Audible'
  - 'Try Audible free for 30 days! Start listening to best-selling audiobooks, exclusive Originals, and free podcasts with the Audible app.'
```

**Status:** success

---

### authy-phish

**Official URL:** https://www.authy.com

**Current Title:** `Authy: Two-factor Authentication (2FA) App & Guides | Authy`

**Description:** Two-factor authentication (2FA) adds an additional layer of protection beyond passwords. Download our free app today and follow our easy to use guides to protect your accounts and personal information.

**Current Matchers:**
```yaml
  - '<title>Authy: Two-factor Authentication (2FA) App &amp; Guides | Authy'
```

**Status:** success

---

### avg-phish

**Official URL:** https://www.avg.com

**Current Title:** `AVG 2026 | FREE Antivirus, VPN & TuneUp for All Your Devices`

**Description:** Download free antivirus and malware protection. Tune up your PC, Mac, & Android. Encrypt your connection and browse anonymously with a VPN.

**Current Matchers:**
```yaml
  - 'AVG 2024 | FREE Antivirus, VPN & TuneUp for All Your Devices'
```

**Status:** match_failed

---

### bandcamp-phish

**Official URL:** https://www.bandcamp.com

**Current Title:** `Bandcamp`

**Description:** Discover amazing music and directly support the artists who make it.

**Current Matchers:**
```yaml
  - 'Bandcamp'
  - 'Discover amazing music and directly support the artists who make it.'
```

**Status:** success

---

### bank-central-asia-phish

**Official URL:** https://bca.co.id

**Current Title:** `BCA - Senantiasa di sisi Anda`

**Description:** Temukan berbagai produk dan layanan BCA untuk memudahkan transaksi dan mengelola keuangan dengan aman dan nyaman.

**Current Matchers:**
```yaml
  - 'BCA - Senantiasa di sisi Anda'
  - 'BCA - Always by your side'
  - 'myBCA'
```

**Status:** success

---

### bank-of-america-phish

**Official URL:** https://www.bankofamerica.com

**Current Title:** `Bank of America - Banking, Credit Cards, Loans and Merrill Investing`

**Description:** What would you like the power to do? At Bank of America, our purpose is to help make financial lives better through the power of every connection.

**Current Matchers:**
```yaml
  - 'Bank of America - Banking, Credit Cards, Loans and Merrill Investing'
```

**Status:** success

---

### barclays-phish

**Official URL:** https://www.barclays.com

**Current Title:** `Barclays Group corporate website | Barclays`

**Description:** Barclays is a British universal bank. Our businesses include consumer banking, as well as a top-tier, global corporate and investment bank.

**Current Matchers:**
```yaml
  - 'Barclays'
  - '<title>Barclays Group corporate website | Barclays'
```

**Status:** success

---

### battlenet-phish

**Official URL:** https://eu.account.battle.net/login

**Current Title:** `Battle.net Login`

**Current Matchers:**
```yaml
  - 'Battle.net Login'
```

**Status:** success

---

### bitbucket-phish

**Official URL:** https://www.bitbucket.org

**Current Title:** `Bitbucket | Git solution for teams using Jira`

**Description:** Bitbucket Cloud is a Git-based code and CI/CD tool optimized for teams using Jira.

**Current Matchers:**
```yaml
  - 'Bitbucket'
  - '<title> Bitbucket | Git solution for teams using Jira'
```

**Status:** success

---

### bitdefender-phish

**Official URL:** https://www.bitdefender.com

**Current Title:** `Bitdefender - Global Leader in Cybersecurity Software`

**Description:** Bitdefender is a cybersecurity software leader delivering best-in-class threat prevention, detection, and response solutions worldwide.

**Current Matchers:**
```yaml
  - 'Bitdefender - Global Leader in Cybersecurity Software'
```

**Status:** success

---

### bitfinex-phish

**Official URL:** https://www.bitfinex.com

**Current Title:** `Bitfinex | Trade Crypto with Zero Fees`

**Description:** Bitfinex is the longest-running and most liquid major cryptocurrency exchange. Founded in 2012, it has become the go-to platform for traders & institutional investors.

**Current Matchers:**
```yaml
  - 'Bitfinex'
  - 'Bitfinex is the longest-running and most liquid major cryptocurrency exchange. Founded in 2012, it has become the go-to platform for traders &amp; institutional investors.'
```

**Status:** success

---

### blizzard-phish

**Official URL:** https://www.blizzard.com

**Current Title:** `Blizzard Entertainment`

**Description:** Creators of the Warcraft, Diablo, StarCraft, and Overwatch series, Blizzard Entertainment is an industry-leading developer responsible for the most epic entertainment experiences, ever.

**Current Matchers:**
```yaml
  - 'Creators of the Warcraft, Diablo, StarCraft, and Overwatch series, Blizzard Entertainment is an industry-leading developer responsible for the most epic entertainment experiences, ever.'
  - 'Blizzard'
```

**Status:** success

---

### brevo-phish

**Official URL:** https://www.brevo.com

**Current Title:** `Brevo: Email & SMS Marketing, CRM & Automation Platform`

**Description:** Brevo is the most intuitive all-in-one customer engagement platform: email and SMS marketing, automation, CRM, live chat, and transactional email. Try it free.

**Current Matchers:**
```yaml
  - '<title>Brevo | All-in-one Marketing &amp; Sales Platform'
```

**Status:** match_failed

---

### capital-one-phish

**Official URL:** https://www.capitalone.com

**Current Title:** `Capital One | Credit Cards, Checking, Savings & Auto Loans`

**Description:** Learn how banking with Capital One can help you meet your financial goals.

**Current Matchers:**
```yaml
  - 'Capital One'
  - '<title>Capital One | Credit Cards, Checking, Savings &amp; Auto Loans'
```

**Status:** success

---

### ccleaner-phish

**Official URL:** https://www.ccleaner.com

**Current Title:** `CCleaner Makes Your Computer Faster & More Secure | Official Website`

**Description:** CCleaner is the number-one tool for cleaning your PC. It protects your privacy and makes your computer faster and more secure! Download it FREE today.

**Current Matchers:**
```yaml
  - 'CCleaner Makes Your Computer Faster & More Secure | Official Website'
```

**Status:** success

---

### chase-phish

**Official URL:** https://www.chase.com

**Current Title:** `Credit Card, Mortgage, Banking, Auto | Chase Online | Chase.com`

**Description:** Chase online; credit cards, mortgages, commercial banking, auto loans, investing & retirement planning, checking and business banking.

**Current Matchers:**
```yaml
  - 'Credit Card, Mortgage, Banking, Auto | Chase Online | Chase.com'
```

**Status:** success

---

### chrome-phish

**Official URL:** https://www.google.com/intl/en_uk/chrome/

**Current Title:** `Google Chrome – Download the fast, secure browser from Google`

**Description:** Get more done with the new Google Chrome. A more simple, secure and faster web browser than ever, with Google’s smarts built in. Download now.

**Current Matchers:**
```yaml
  - 'Google Chrome – Download the fast, secure browser from Google'
```

**Status:** success

---

### cibc-phish

**Official URL:** https://www.cibc.com

**Current Title:** `Personal Banking and Financial Services | CIBC`

**Description:** Bank on your terms with CIBC – whether it’s in person, over the phone or online, CIBC has you covered.

**Current Matchers:**
```yaml
  - 'CIBC'
  - 'CIBC U.S. provides tailored commercial and personal banking services, private wealth management and small business financial solutions from coast to coast. We invest in businesses, people and communities, striving to build trusting and enduring relationships by putting our clients at the center of all we do.'
```

**Status:** success

---

### citibank-phish

**Official URL:** https://www.citi.com

**Current Title:** `Credit Cards, Banking, Mortgage, Personal Loans | Citi.com`

**Current Matchers:**
```yaml
  - 'Citi'
  - 'Citibank is the consumer division of financial services multinational Citigroup. Citibank was founded in 1812 as the City Bank of New York, and later became First National City Bank of New York. Citibank provides credit cards, mortgages, personal loans, commercial loans, and lines of credit.'
```

**Status:** success

---

### clickup-phish

**Official URL:** https://www.clickup.com

**Current Title:** `ClickUpâ¢ | Maximize productivity â¢ Software, AI, and humans converge`

**Description:** Our mission is to make the world more productive. To do this, we built the everything app for work - Tasks, Docs, Goals, and Chat.

**Current Matchers:**
```yaml
  - 'ClickUp™ | Maximize productivity • Software, AI, and humans converge'
```

**Status:** match_failed

---

### comerica-phish

**Official URL:** https://www.comerica.com

**Current Title:** `Trusted Banking for 175 Years | Comerica`

**Description:** Your partner for personal finance, business banking, and wealth management with a legacy of excellence and industry recognition.

**Current Matchers:**
```yaml
  - 'Comerica'
  - 'Your partner for personal finance, business banking, and wealth management with a legacy of excellence and industry recognition.'
```

**Status:** success

---

### costco-phish

**Official URL:** https://www.costco.com

**Current Title:** `Welcome to Costco Wholesale`

**Description:** Shop Costco.com for electronics, computers, furniture, outdoor living, appliances, jewelry and more. Enjoy low warehouse prices on name-brands products delivered to your door

**Current Matchers:**
```yaml
  - 'Costco'
  - 'Shop Costco.com for electronics, computers, furniture, outdoor living, appliances, jewelry and more. Enjoy low warehouse prices on name-brands products delivered to your door'
```

**Status:** success

---

### credit-agricole-phish

**Official URL:** https://www.credit-agricole.com

**Current Title:** `Banque des particuliers professionnels en France | Crédit Agricole`

**Description:** Crédit Agricole 1re banque de l'habitat, de l'agriculture, des entreprises, des pros, des collectivites territoriales

**Current Matchers:**
```yaml
  - 'Crédit Agricole'
  - 'Crédit Agricole 1re banque de l&#039;habitat, de l&#039;agriculture, des entreprises, des pros, des collectivites territoriales'
```

**Status:** success

---

### customink-phish

**Official URL:** https://www.customink.com

**Current Title:** `Custom Ink - Design Custom T-shirts, Apparel & Promo Products Online`

**Description:** Make custom T-shirts, apparel & promotional products online with the highest quality printing & customer service. Easy Ordering. Fast & Free Shipping.

**Current Matchers:**
```yaml
  - 'CustomInk'
  - '<title>Custom T-shirts - Design T-shirts, Apparel & Promo Products Online'
```

**Status:** success

---

### dashlane-phish

**Official URL:** https://www.dashlane.com

**Current Title:** `Dashlane: Password management & credential security platform`

**Description:** Top-rated password manager and credential protection solution for enterprises, businesses, and individuals.

**Current Matchers:**
```yaml
  - 'Dashlane Password Manager'
  - 'Dashlane Password Manager safeguards businesses &amp; people with easy-to-use, powerful features. Protect &amp; manage passwords and passkeys in one secure solution.'
```

**Status:** success

---

### deezer-phish

**Official URL:** https://www.deezer.com

**Current Title:** `Deezer | Listen to music online | Music streaming app`

**Description:** Discover our streaming app Deezer! Create an account, listen to your music for free and access millions of songs, playlists and podcasts. Sign up for free!

**Current Matchers:**
```yaml
  - 'Deezer | Listen to music | Online music streaming platform'
```

**Status:** match_failed

---

### deliveroo-phish

**Official URL:** https://deliveroo.co.uk

**Current Title:** `Deliveroo - Food, Groceries, Pharmacy, Gifts & More. Delivered In A Tap.`

**Description:** From food to flowers, gifts to groceries, we bring the best of your neighbourhood to your door. All in as little as 30 minutes. Download our app or order online.

**Current Matchers:**
```yaml
  - 'Deliveroo - Takeaway Food Delivery from Local Restaurants &amp; Shops'
```

**Status:** match_failed

---

### deutsche-bank-phish

**Official URL:** https://www.db.com

**Current Title:** `Deutsche Bank`

**Description:** Discover Deutsche Bank, one of the world’s leading financial services providers. News and Information about the bank and its products

**Current Matchers:**
```yaml
  - 'Deutsche Bank'
  - 'Discover Deutsche Bank, one of the world’s leading financial services providers. News and Information about the bank and its products'
```

**Status:** success

---

### digital-ocean-phish

**Official URL:** https://www.digitalocean.com

**Current Title:** `AI-Native Cloud | DigitalOcean`

**Description:** Run AI products in production with a unified stack for agents, inference, and cloud—built for control, performance, and economics at scale.

**Current Matchers:**
```yaml
  - 'DigitalOcean | Cloud Infrastructure for Developers'
  - 'DigitalOcean'
```

**Status:** success

---

### discover-phish

**Official URL:** https://www.discover.com

**Current Title:** `Discover - Personal Banking, Credit Cards & Loans`

**Description:** Discover offers online banking, reward credit cards, home equity loans, and personal loans to help meet your financial needs.

**Current Matchers:**
```yaml
  - 'Discover'
  - '<title>Discover - Personal Banking, Credit Cards &amp; Loans'
```

**Status:** success

---

### disneyplus-phish

**Official URL:** https://www.disneyplus.com

**Current Title:** `Disney+ | Stream Movies, TV Shows, Documentaries & More | U.S. Site`

**Description:** Access your favorite entertainment with Disney+. Disney+ is the streaming home for Disney, Hulu, ESPN, Pixar, Marvel, Star Wars, Nat Geo, and so much more.

**Current Matchers:**
```yaml
  - 'Disney+ | Stream new Originals, blockbusters and series'
```

**Status:** match_failed

---

### dota2-phish

**Official URL:** https://www.dota2.com

**Current Title:** `Dota 2`

**Description:** Every day, millions of players worldwide enter battle as one of over a hundred Dota heroes. And no matter if it's their 10th hour of play or 1,000th, there's always something new to discover. With regular updates that ensure a constant evolution of gameplay, features, and heroes, Dota 2 has taken on a life of its own.

**Current Matchers:**
```yaml
  - 'Every day, millions of players worldwide enter battle as one of over a hundred Dota heroes. And no matter if it's their 10th hour of play or 1,000th, there's always something new to discover. With regular updates that ensure a constant evolution of gameplay, features, and heroes, Dota 2 has taken on a life of its own.'
```

**Status:** success

---

### dribbble-phish

**Official URL:** https://www.dribbble.com

**Current Title:** `Dribbble - Discover the World’s Top Designers & Creative Professionals`

**Description:** Find Top Designers & Creative Professionals on Dribbble. We are where designers gain inspiration, feedback, community, and jobs. Your best resource to discover and connect with designers worldwide.

**Current Matchers:**
```yaml
  - '<title>Dribbble - Discover the World's Top Designers &amp; Creative Professionals'
```

**Status:** match_failed

---

### dropbox-phish

**Official URL:** https://www.dropbox.com

**Current Title:** `dropbox.com`

**Description:** Discover Dropbox – secure, easy cloud storage for file sharing and collaboration. With Dash, save time and organise all your company content in one place.

**Current Matchers:**
```yaml
  - 'Dropbox is a home for all of your work. You can store and share files, collaborate on projects and bring your best ideas to life, whether you’re working alone or as part of a team.'
```

**Status:** success

---

### ea-phish

**Official URL:** https://www.ea.com

**Current Title:** `Electronic Arts Home Page - Official EA Site`

**Description:** We exist to inspire the world through Play. Electronic Arts is a leading publisher of games on Console, PC and Mobile.

**Current Matchers:**
```yaml
  - 'We exist to inspire the world through Play. Electronic Arts is a leading publisher of games on Console, PC and Mobile.'
```

**Status:** success

---

### ebay-phish

**Official URL:** https://www.ebay.com

**Current Title:** `Electronics, Cars, Fashion, Collectibles & More | eBay`

**Description:** Buy & sell electronics, cars, clothes, collectibles & more on eBay, the world's online marketplace. Top brands, low prices & free shipping on many items.

**Current Matchers:**
```yaml
  - 'Electronics, Cars, Fashion, Collectibles &amp; More | eBay'
```

**Status:** success

---

### edge-phish

**Official URL:** https://www.microsoft.com/en-us/edge/download?form=MA13FJ&ch=1

**Current Title:** `Download Microsoft Edge: Windows, macOS, iOS & Android`

**Description:** Download Microsoft Edge for your computer or smartphone. Experience the cutting-edge AI Edge browser on your Windows, macOS, iOS, and Android device.

**Current Matchers:**
```yaml
  - 'Sign in - edge Accounts'
```

**Status:** match_failed

---

### ee-mobile-phish

**Official URL:** https://ee.co.uk

**Current Title:** `Superfast 5G & 4G Phones, Tablets and Fibre Broadband | EE`

**Description:** We're EE, the UK's No. 1 network with superfast 5G and 4G. Discover the best mobile phone, sim and fibre home broadband deals.

**Current Matchers:**
```yaml
  - 'Superfast 5G &amp; 4G Phones, Tablets and Fibre Broadband | EE'
```

**Status:** success

---

### evernote-phish

**Official URL:** https://www.evernote.com

**Current Title:** `Best Note Taking App - Organize Your Notes with Evernote`

**Description:** Our note taking app helps you capture and prioritize ideas, projects and to-do lists, so nothing falls through the cracks. Start your free trial today!

**Current Matchers:**
```yaml
  - 'Best Note Taking App - Organize Your Notes with Evernote'
```

**Status:** success

---

### expressvpn-phish

**Official URL:** https://www.expressvpn.com

**Current Title:** `ExpressVPN: Best VPN Service for Speed & Privacy in 2026`

**Description:** Protect your privacy, stream worldwide, and enjoy fast speeds with ExpressVPN. Servers in 105 countries, 24/7 support, and a 30-day risk-free trial—start now!

**Current Matchers:**
```yaml
  - '<title>ExpressVPN: Best VPN Service for Speed & Privacy in 2025'
```

**Status:** match_failed

---

### fedex-phish

**Official URL:** https://www.fedex.com

**Current Title:** `FedEx | System Down`

**Current Matchers:**
```yaml
  - 'FedEx'
  - '<title>Track &amp; Ship Online or Find Nearby Locations | FedEx'
```

**Status:** success

---

### filezilla-phish

**Official URL:** https://www.filezilla-project.org

**Current Title:** `FileZilla - The free FTP solution`

**Description:** FileZilla - The free FTP solution for both client and server. Filezilla is open source software distributed free of charge.

**Current Matchers:**
```yaml
  - 'FileZilla - The free FTP solution'
```

**Status:** success

---

### footlocker-phish

**Official URL:** https://www.footlocker.com

**Current Title:** `Foot Locker 
Europe`

**Description:** The official Foot Locker Europe webstore. Get inspired by our lookbook and find a lot of brands  â Nike, adidas, Converse and more  â

**Current Matchers:**
```yaml
  - 'Foot Locker'
  - 'Sneakers, Apparel &amp; More | Foot Locker'
```

**Status:** success

---

### freshworks-phish

**Official URL:** https://www.freshworks.com

**Current Title:** `Freshworks: Uncomplicated Software | IT Service, Customer Service`

**Description:** Freshworks enterprise-grade solutions are powerful, yet easy to use, and quick to deliver results for customer service and IT teams

**Current Matchers:**
```yaml
  - 'title>Freshworks: Uncomplicated Software | IT Service, Customer Service'
```

**Status:** success

---

### gcp-phish

**Official URL:** https://cloud.google.com

**Current Title:** `AI and Cloud Computing Services | Google Cloud`

**Description:** Meet your business challenges head on with AI and cloud computing services from Google, including security, data management, and hybrid & multi-cloud.

**Current Matchers:**
```yaml
  - 'Meet your business challenges head on with cloud computing services from Google, including data management, hybrid & multi-cloud, and AI & ML.'
```

**Status:** match_failed

---

### gimp-phish

**Official URL:** https://www.gimp.org

**Current Title:** `GIMP - GNU Image Manipulation Program`

**Description:** GIMP - The GNU Image Manipulation Program: The Free and Open Source Image Editor

**Current Matchers:**
```yaml
  - 'GIMP - GNU Image Manipulation Program'
```

**Status:** success

---

### github-phish

**Official URL:** https://www.github.com

**Current Title:** `GitHub · Change is constant. GitHub keeps you ahead. · GitHub`

**Description:** Join the world's most widely adopted, AI-powered developer platform where millions of developers, businesses, and the largest open source community build software that advances humanity.

**Current Matchers:**
```yaml
  - 'Sign in to GitHub · GitHub'
```

**Status:** match_failed

---

### grammarly-phish

**Official URL:** https://www.grammarly.com

**Current Title:** `Grammarly: Free AI Writing Assistance`

**Description:** Grammarly makes AI writing convenient. Work smarter with personalized AI guidance and text generation on any app or website.

**Current Matchers:**
```yaml
  - '<title>Grammarly: Free AI Writing Assistant'
```

**Status:** match_failed

---

### green-man-gaming-phish

**Official URL:** https://www.greenmangaming.com

**Current Title:** `Green Man Gaming | Buy Games, Game Keys & Digital Games Today`

**Description:** Buy games & game keys with Green Man Gaming - get the best prices, awesome bundles & exclusive game deals daily! Visit to explore Green Man Gaming now!

**Current Matchers:**
```yaml
  - 'Buy games & game keys with Green Man Gaming - get the best prices, awesome bundles & exclusive game deals daily! Visit to explore Green Man Gaming now!'
```

**Status:** match_failed

---

### grubhub-phish

**Official URL:** https://www.grubhub.com

**Current Title:** `Prepare your taste buds...`

**Description:** Prepare your taste buds...

**Current Matchers:**
```yaml
  - 'Prepare your taste buds...'
```

**Status:** success

---

### hbo-max-phish

**Official URL:** https://www.hbomax.com

**Current Title:** `HBO Max | Stream Series and Movies`

**Description:** Stream must-see series, hit movies, exclusive originals, family favorites, and live sports.

**Current Matchers:**
```yaml
  - 'Stream must-see series, hit movies, exclusive originals, family favorites, and live sports.'
```

**Status:** success

---

### hetzner-phish

**Official URL:** https://www.hetzner.com

**Current Title:** `Günstige Dedicated Server, Cloud & Hosting aus Deutschland`

**Description:** Günstige Hosting-Lösungen, Dedicated Server und Cloud-Services bei Hetzner ✓ DSGVO-konform ✓ günstige Preise  ✓ 100 % grüne Energie

**Current Matchers:**
```yaml
  - '<title>Affordable dedicated servers, cloud &amp; hosting from Germany'
```

**Status:** match_failed

---

### hsbc-phish

**Official URL:** https://www.hsbc.com

**Current Title:** `HSBC Group corporate website | HSBC Holdings plc`

**Description:** HSBC, one of the largest banking and financial services institutions in the world, serves millions of customers through its four global businesses.

**Current Matchers:**
```yaml
  - 'HSBC, one of the largest banking and financial services institutions in the world, serves millions of customers through its four global businesses.'
```

**Status:** success

---

### hulu-phish

**Official URL:** https://www.hulu.com

**Current Title:** `Disney+ | Stream Movies, TV Shows, Documentaries & More | U.S. Site`

**Description:** Access your favorite entertainment with Disney+. Disney+ is the streaming home for Disney, Hulu, ESPN, Pixar, Marvel, Star Wars, Nat Geo, and so much more.

**Current Matchers:**
```yaml
  - 'Hulu'
  - 'Stream TV and Movies Live and Online | Hulu"'
```

**Status:** success

---

### humble-bundle-phish

**Official URL:** https://www.humblebundle.com

**Current Title:** `Humble Bundle | game bundles, book bundles, software bundles, and more`

**Description:** Humble Bundle sells games, books, software, and more. Our mission is to support charity while providing awesome content to customers at great prices. Since 2010, Humble Bundle customers have given over US$278,000,000 to charity.

**Current Matchers:**
```yaml
  - 'Humble Bundle sells games, books, software, and more. Our mission is to support charity while providing awesome content to customers at great prices. Since 2010, Humble Bundle customers have given over $275,000,000 to charity.'
```

**Status:** match_failed

---

### icbc-phish

**Official URL:** https://icbc.com.cn

**Current Title:** `ä¸­å½å·¥åé¶è¡ä¸­å½ç½ç«`

**Current Matchers:**
```yaml
  - '工商银行金融服务全面介绍，投资理财信息丰富全面，在线交易方便快捷，满足客户专业化、多元化、人性化的金融服务需求，打造集业务、信息、交易、购物、互动于一体综合性金融服务平台。'
```

**Status:** match_failed

---

### ing-phish

**Official URL:** https://www.ing.com

**Current Title:** `ING global company website | ING`

**Description:** Corporate site of ING, a global financial institution of Dutch origin, providing news, investor relations and general information

**Current Matchers:**
```yaml
  - 'Corporate site of ING, a global financial institution of Dutch origin, providing news, investor relations and general information'
```

**Status:** success

---

### jetbrains-phish

**Official URL:** https://www.jetbrains.com

**Current Title:** `JetBrains: Essential tools for software developers and teams`

**Description:** JetBrains is a cutting-edge software vendor specializing in the creation of intelligent development tools, including IntelliJ IDEA – the leading Java IDE, and the Kotlin programming language.

**Current Matchers:**
```yaml
  - '<title>JetBrains: Essential tools for software developers and teams'
```

**Status:** success

---

### jitsi-phish

**Official URL:** https://www.jitsi.org

**Current Title:** `Free Video Conferencing Software for Web & Mobile | Jitsi`

**Description:** Learn more about Jitsi, a free open-source video conferencing software for web & mobile. Make a call, launch on your own servers, integrate into your app, and more.

**Current Matchers:**
```yaml
  - '<title>Free Video Conferencing Software for Web &amp; Mobile | Jitsi'
```

**Status:** success

---

### kaspersky-phish

**Official URL:** https://kaspersky.co.uk

**Current Title:** `Kaspersky Cyber Security Solutions for Home and Business  | Kaspersky`

**Description:** A Global Leader in Next Generation Cybersecurity Solutions and Services, Kaspersky Offers Premium Protection Against All Cyber Threats for Your Home and Business.

**Current Matchers:**
```yaml
  - 'Kaspersky Cyber Security Solutions for Home and Business  | Kaspersky'
```

**Status:** success

---

### keepersecurity-phish

**Official URL:** https://www.keepersecurity.com

**Current Title:** `Keeper Security | Identity Security for Humans, Machines and AI Agents`

**Description:** Keeper is the unified control plane for privileged access, secrets, remote connections, endpoints and databases in a single zero-trust platform.

**Current Matchers:**
```yaml
  - 'Password and Secrets Management - Keeper Security'
```

**Status:** match_failed

---

### keybase-phish

**Official URL:** https://www.keybase.io

**Current Title:** `Keybase`

**Description:** Keybase is for keeping everyone's chats and files safe, from families to communities to companies. MacOS, Windows, Linux, iPhone, and Android.

**Current Matchers:**
```yaml
  - 'Keybase is for keeping everyone's chats and files safe, from families to communities to companies. MacOS, Windows, Linux, iPhone, and Android.'
```

**Status:** success

---

### lastpass-phish

**Official URL:** https://www.lastpass.com

**Current Title:** `#1 Password Manager & Vault App with Single-Sign On & MFA Solutions - LastPass`

**Description:** Go beyond saving passwords with the best password manager! Generate strong passwords and store them in a secure vault. Now with single-sign on (SSO) and adaptive MFA solutions that integrate with over 1,200 apps.

**Current Matchers:**
```yaml
  - '#1 Password Manager &amp; Vault App with Single-Sign On &amp; MFA Solutions - LastPass'
```

**Status:** success

---

### latemodel-restoration-phish

**Official URL:** https://www.lmr.com

**Current Title:** `Ford Mustang Parts & Accessories | Late Model Restoration`

**Description:** Shop 1000s of 1979-Present Mustang parts & accessories to restore or customize your car at LMR. Free delivery over $99. Mustang Parts Financing Available.

**Current Matchers:**
```yaml
  - 'lmr.com'
  - '<title>Ford Mustang Parts &amp; Accessories | Late Model Restoration'
```

**Status:** success

---

### libre-office-phish

**Official URL:** https://www.libreoffice.org

**Current Title:** `LibreOffice`

**Description:** LibreOffice is a free office suite

**Current Matchers:**
```yaml
  - 'Home | LibreOffice - Free Office Suite - Based on OpenOffice - Compatible with Microsoft'
```

**Status:** match_failed

---

### linkedin-phish

**Official URL:** https://www.linkedin.com

**Current Title:** `LinkedIn: Log In or Sign Up`

**Description:** 1 billion members | Manage your professional identity. Build and engage with your professional network. Access knowledge, insights and opportunities.

**Current Matchers:**
```yaml
  - 'LinkedIn: Log In or Sign Up'
```

**Status:** success

---

### lloyds-phish

**Official URL:** https://www.lloydsbank.com

**Current Title:** `Lloyds Bank - Personal Banking, Personal Finances & Bank Accounts`

**Description:** Wherever you want to get to in life, Lloyds Bank has a range of bank accounts and personal banking services to suit you. Visit us today to find out more

**Current Matchers:**
```yaml
  - '<title>Lloyds Bank - Personal Banking, Personal Finances &amp; Bank Accounts'
```

**Status:** success

---

### lowes-phish

**Official URL:** https://www.lowes.com

**Current Title:** `Access Denied`

**Current Matchers:**
```yaml
  - 'Lowe's'
  - 'Lowe’s Home Improvement'
```

**Status:** match_failed

---

### lyft-phish

**Official URL:** https://www.lyft.com

**Current Title:** `Ride or drive with Lyft`

**Description:** Request a ride whenever you need one. Drivers earn on their own terms. Download the app to get started.

**Current Matchers:**
```yaml
  - 'Ride or drive with Lyft'
  - 'Lyft'
```

**Status:** success

---

### mailchimp-phish

**Official URL:** https://www.mailchimp.com

**Current Title:** `Email & SMS Marketing Platform | Mailchimp`

**Description:** Utilize real-time user behavior data and artificial intelligence to convert more customers. Easy to use, get started for free!

**Current Matchers:**
```yaml
  - 'Use real-time behavior data and AI to convert more customers with Mailchimp&#039;s marketing, automation &amp; email marketing platform. Easy to use - start for free!'
```

**Status:** match_failed

---

### mattermost-phish

**Official URL:** https://www.mattermost.com

**Current Title:** `Mattermost | Collaboration Platform for Mission Critical Work`

**Description:** Accelerate your mission critical workflow by integrating people, processes, tools and AI infrastructure on a resilient and adaptable platform.

**Current Matchers:**
```yaml
  - '<title>Mattermost | Collaboration Platform for Mission Critical Work'
```

**Status:** success

---

### mega-phish

**Official URL:** https://www.mega.io

**Current Title:** `MEGA: Protect your Online Privacy`

**Description:** MEGA offers 20 GB free encrypted cloud storage, secure file upload, download and sharing, private chat and meetings, plus VPN and password manager.

**Current Matchers:**
```yaml
  - 'Home - MEGA'
  - 'Secure and private cloud storage for everyone. Store and share files, chat, meet, back up, sync, and more.'
```

**Status:** match_failed

---

### menards-phish

**Official URL:** https://www.menards.com

**Current Title:** `Home at Menards®`

**Description:** Save BIG Money on your home improvement needs at over 300 stores in categories like tools, lumber, appliances, pet supplies, lawn and gardening and much more.

**Current Matchers:**
```yaml
  - 'Menards'
  - 'title>Home at Menards&#174;'
```

**Status:** success

---

### microsoft-phish

**Official URL:** https://www.office.com

**Current Title:** `Microsoft 365 | Write, Create & Collaborate with AI`

**Description:** Microsoft 365 (formerly Office) with Copilot - AI that helps you write documents, create presentations, analyze data, and collaborate. Ask in plain language and get work done faster

**Current Matchers:**
```yaml
  - 'Login | Microsoft 365'
```

**Status:** match_failed

---

### microsoft-teams-phish

**Official URL:** https://www.microsoft.com/en-gb/microsoft-teams/download-app

**Current Title:** `Your request has been blocked. This could be
                        due to several reasons.`

**Current Matchers:**
```yaml
  - 'Download Microsoft Teams Desktop and Mobile Apps | Microsoft Teams'
```

**Status:** match_failed

---

### monday-phish

**Official URL:** https://www.monday.com

**Current Title:** `monday.com | Outpace everyone with the best AI work platform`

**Description:** monday.com is the best AI work platform. Drive exponential execution and empower teams to expand what they achieve with an AI-powered product suite, AI agents, AI workflows, AI assistant and AI apps builder.

**Current Matchers:**
```yaml
  - '<title>monday.com'
  - 'Monday.com'
```

**Status:** match_failed

---

### monzo-phish

**Official URL:** https://www.monzo.com

**Current Title:** `Monzo | Your New Favourite Bank`

**Description:** Organise, save & invest with a free UK current account, joint account or business account. Make your money more Monzo.

**Current Matchers:**
```yaml
  - 'Organise, save & invest with a free UK current account, joint account or business account. Make your money more Monzo.'
```

**Status:** match_failed

---

### mpix-phish

**Official URL:** https://www.mpix.com

**Current Title:** `Mpix Photo Lab | Create Custom Photo Products`

**Description:** Create and order professional quality prints, handcrafted photo books & albums, customized cards, and invitations. Shop personalized photo gifts, custom wall art, and more online at Mpix.com.

**Current Matchers:**
```yaml
  - 'Mpix'
  - '<title>Mpix Photo Lab | Create Custom Photo Products'
```

**Status:** success

---

### mt-bank-phish

**Official URL:** https://www.mtb.com

**Current Title:** `Personal Banking  | M&T Bank`

**Description:** With a community bank approach, M&T Bank helps people reach their personal and business goals with banking, mortgage, loan and investment services.

**Current Matchers:**
```yaml
  - 'With a community bank approach, M&T Bank helps people reach their personal and business goals with banking, mortgage, loan and investment services.'
```

**Status:** success

---

### mullvad-phish

**Official URL:** https://www.mullvad.net

**Current Title:** `Mullvad VPN - Privacy is for the people`

**Description:** Free the internet from mass surveillance and censorship. Fight for privacy with Mullvad VPN and Mullvad Browser.

**Current Matchers:**
```yaml
  - '<title>Mullvad VPN - Privacy is for the people'
```

**Status:** success

---

### nab-phish

**Official URL:** https://nab.com.au

**Current Title:** `NAB personal banking | Loans, accounts, credit cards, insurance - NAB`

**Description:** NAB personal banking services include online banking, bank accounts, credit cards, home loans and personal loans. We’re here to help you with more than money.

**Current Matchers:**
```yaml
  - 'NAB personal banking services include online banking, bank accounts, credit cards, home loans and personal loans. We’re here to help you with more than money.'
```

**Status:** success

---

### naver-login-phish

**Official URL:** https://nid.naver.com

**Current Title:** `Naver Sign in`

**Description:** Sign in to your Naver Account

**Current Matchers:**
```yaml
  - '네이버 : 로그인'
  - '로그인'
```

**Status:** success

---

### netflix-phish

**Official URL:** https://www.netflix.com

**Current Title:** `Netflix United Kingdom – Watch series online, watch films online`

**Description:** Watch Netflix films & series online or stream straight to your smart TV, game console, PC, Mac, mobile, tablet and more.

**Current Matchers:**
```yaml
  - 'Watch Netflix films &amp; TV programmes online or stream right to your smart TV, game console, PC, Mac, mobile, tablet and more.'
```

**Status:** match_failed

---

### nike-phish

**Official URL:** https://www.nike.com

**Current Title:** `Nike. Just Do It. Nike UK`

**Description:** Inspiring the world's athletes, Nike delivers innovative products, experiences and services.

**Current Matchers:**
```yaml
  - 'Nike'
  - '<title>Nike. Just Do It. Nike.com'
```

**Status:** success

---

### nordpass-phish

**Official URL:** https://www.nordpass.com

**Current Title:** `Securely Store, Manage & Autofill Passwords | NordPass`

**Description:** NordPass password manager remembers complex passwords, auto-fills logins and online forms and lets you access it all from anywhere. Even when you’re offline.

**Current Matchers:**
```yaml
  - 'Securely Store, Manage &amp; Autofill Passwords | NordPass'
```

**Status:** success

---

### norton-phish

**Official URL:** https://www.norton.com

**Current Title:** `Norton AntiVirus, Privacy, Identity, & Advanced Scam Protection`

**Description:** Our best protection, trusted by millions, now includes Genie AI Scam Detection. Advanced tech for advanced threats. Explore plans.

**Current Matchers:**
```yaml
  - 'Official Site | Norton™ - Antivirus &amp; Anti-Malware Software'
```

**Status:** match_failed

---

### notion-phish

**Official URL:** https://www.notion.so

**Current Title:** `The AI workspace that works for you. | Notion`

**Description:** Build Custom Agents, search across all your apps, and automate busywork. The AI workspace where teams get more done, faster.

**Current Matchers:**
```yaml
  - 'Your connected workspace for wiki, docs &amp; projects | Notion'
```

**Status:** match_failed

---

### o2-mobile-phish

**Official URL:** https://o2.co.uk

**Current Title:** `O2 - Essential For Living`

**Description:** Find exclusive offers and discover Switch Up, Flexible Superfast 5G Tariffs, Free Roaming & O2 Priority. Stay connected, wherever you are.

**Current Matchers:**
```yaml
  - 'O2 | Phone, SIM &amp; Tech Deals - See What You Can Do'
```

**Status:** match_failed

---

### ocbc-phish

**Official URL:** https://www.ocbc.com

**Current Title:** `OCBC - Personal Banking, Business Banking, Wealth Management`

**Description:** Discover a world of financial services with OCBC, the best trusted and established Singapore bank. Explore our range of banking solutions today.

**Current Matchers:**
```yaml
  - 'Discover a world of financial services with OCBC, the best trusted and established Singapore bank. Explore our range of banking solutions today.'
```

**Status:** success

---

### okta-phish

**Official URL:** https://www.okta.com

**Current Title:** `Secure Identity for Employees, Customers, and AI | Okta`

**Description:** The Okta and Auth0 Platforms enable secure access, authentication, and automation — putting identity at the heart of business security and growth.

**Current Matchers:**
```yaml
  - 'The Okta and Auth0 Platforms enable secure access, authentication, and automation — putting Identity at the heart of business security and growth.'
```

**Status:** success

---

### opera-phish

**Official URL:** https://www.opera.com

**Current Title:** `Opera Web Browser | Faster, Safer, Smarter | Opera`

**Description:** Faster, safer and smarter than default browsers. Fully-featured for privacy, security, and so much more. Get the faster, better Opera browser for free.

**Current Matchers:**
```yaml
  - 'Opera Web Browser | Faster, Safer, Smarter | Oper'
```

**Status:** success

---

### origin-phish

**Official URL:** https://www.origin.com

**Current Title:** `PC Games and Computer Video Games for Download - Electronic Arts`

**Description:** Explore PC video games available for download right now. Electronic Arts is a leading publisher of games for the PC, consoles, and mobile.

**Current Matchers:**
```yaml
  - 'Explore PC video games available for download right now. Electronic Arts is a leading publisher of games for the PC, consoles, and mobile.'
```

**Status:** success

---

### pandora-phish

**Official URL:** https://www.pandora.com

**Current Title:** `Pandora`

**Current Matchers:**
```yaml
  - 'Play the songs, albums, playlists and podcasts you love on the all-new Pandora. Sign up for a subscription plan to stream ad-free and on-demand. Listen on your mobile phone, desktop, TV, smart speakers or in the car.'
```

**Status:** match_failed

---

### paramount-plus-phish

**Official URL:** https://www.paramountplus.com

**Current Title:** `Paramount+ United Kingdom | Watch Movies & TV Shows Online`

**Description:** Watch hit movies, new originals & your favourite shows with Paramount+. A mountain of entertainment. Start streaming on any device!

**Current Matchers:**
```yaml
  - 'Paramount+'
  - 'Sign in'
  - 'Paramount+ Login'
```

**Status:** success

---

### paramountplus-phish

**Official URL:** https://www.paramountplus.com

**Current Title:** `Paramount+ United Kingdom | Watch Movies & TV Shows Online`

**Description:** Watch hit movies, new originals & your favourite shows with Paramount+. A mountain of entertainment. Start streaming on any device!

**Current Matchers:**
```yaml
  - 'Paramount+ United Kingdom - Stream Blockbusters, New Originals and Hit Shows'
```

**Status:** match_failed

---

### pcloud-phish

**Official URL:** https://www.pcloud.com

**Current Title:** `pCloud - Secure Cloud Storage for Files, Photos & Documents`

**Description:** Store, sync, and share your files securely with pCloud. Get up to 10 GB of free secure cloud storage and access your files from any device, anywhere.

**Current Matchers:**
```yaml
  - 'pCloud - Europe's Most Secure Cloud Storage'
```

**Status:** match_failed

---

### peacock-phish

**Official URL:** https://www.peacocktv.com

**Current Title:** `Unavailable In Your Region`

**Current Matchers:**
```yaml
  - 'Peacock'
  - 'Watch TV shows and movies online with Peacock. Stream iconic shows and movies, exclusive Peacock Originals, live news and sports and more.'
```

**Status:** success

---

### philo-phish

**Official URL:** https://www.philo.com

**Current Title:** `Philo - Stream Live and On-Demand TV`

**Description:** Why pay more for TV? Start your Philo free trial and enjoy live TV plus on-demand content starting at just $25/month. Stream hit shows, movies, and more.

**Current Matchers:**
```yaml
  - 'Why pay more for TV? Philo offers live TV and on-demand content for just $33/month. Stream your favorite shows, movies, and more across all your devices.'
```

**Status:** match_failed

---

### playstation-phish

**Official URL:** https://www.playstation.com

**Current Title:** `PlayStation® Official Site: Consoles, Games, Accessories & More`

**Description:** Explore the new generation PlayStation 4 and PS5 consoles - experience immersive gaming with thousands of hit games in every genre to rewrite the rules for what a PlayStation console can do.

**Current Matchers:**
```yaml
  - 'Explore the new generation PlayStation 4 and PS5 consoles - experience immersive gaming with thousands of hit games in every genre to rewrite the rules for what a PlayStation console can do.'
```

**Status:** success

---

### postmates-phish

**Official URL:** https://www.postmates.com

**Current Title:** `Postmates: Food Delivery, Groceries, Alcohol - Anything from Anywhere`

**Description:** Order delivery or pickup from more than 600,000 restaurants, retailers, grocers, and more all across your city. Download the app now to get everything you crave, on-demand.

**Current Matchers:**
```yaml
  - 'Postmates'
  - 'Order delivery or pickup from more than 600,000 restaurants, retailers, grocers, and more all across your city. Download the app now to get everything you crave, on-demand.'
```

**Status:** success

---

### proton-phish

**Official URL:** https://www.proton.me

**Current Title:** `Proton: Privacy by default`

**Description:** Over 100 million people use Proton to stay private and secure online. Get a free Proton account and take back your privacy.

**Current Matchers:**
```yaml
  - 'Proton Account: Sign-in'
```

**Status:** match_failed

---

### protonvpn-phish

**Official URL:** https://www.protonvpn.com

**Current Title:** `The best VPN for speed and security | Proton VPN`

**Description:** Get fast, secure VPN service in 120+ countries. Download our free VPN now — or check out Proton VPN Plus for even more premium features.

**Current Matchers:**
```yaml
  - '<title>The best VPN for speed and security'
```

**Status:** success

---

### pubg-phish

**Official URL:** https://www.pubg.com

**Current Title:** `PUBG: BATTLEGROUNDS`

**Description:** PUBG: BATTLEGROUNDS is a battle royale that pits 100 players against each other. Outplay your opponents to become the lone survivor. Play free now!

**Current Matchers:**
```yaml
  - 'PUBG'
  - '<title>PUBG: BATTLEGROUNDS'
```

**Status:** success

---

### putty-phish

**Official URL:** https://www.putty.org

**Current Title:** `Mike Yeadon: Final Warning`

**Current Matchers:**
```yaml
  - 'Download PuTTY - a free SSH and telnet client for Windows'
```

**Status:** match_failed

---

### python-phish

**Official URL:** https://www.python.org

**Current Title:** `Welcome to Python.org`

**Description:** The official home of the Python Programming Language

**Current Matchers:**
```yaml
  - 'Welcome to Python.org'
  - 'The official home of the Python Programming Language'
```

**Status:** success

---

### reddit-phish

**Official URL:** https://www.reddit.com

**Current Title:** `Reddit - Please wait for verification`

**Current Matchers:**
```yaml
  - 'Reddit - Dive into anything'
```

**Status:** match_failed

---

### riot-games-phish

**Official URL:** https://www.riotgames.com

**Current Title:** `Riot Games. Developer of League of Legends, VALORANT, Teamfight Tactics, Legends of Runeterra, and Wild Rift. Creators of Arcane. Home of LOL and VALORANT Esports. | Riot Games`

**Description:** Riot Games. Developer of League of Legends, VALORANT, Teamfight Tactics, Legends of Runeterra, and Wild Rift. Creators of Arcane. Home of LOL and VALORANT Esports.

**Current Matchers:**
```yaml
  - 'Riot Games. Developer of League of Legends, VALORANT, Teamfight Tactics, Legends of Runeterra, and Wild Rift. Creators of Arcane. Home of LOL and VALORANT Esports.'
```

**Status:** success

---

### robinhood-phish

**Official URL:** https://www.robinhood.com

**Current Title:** `Robinhood: Commission-free Stock Trading & Investing App`

**Description:** Robinhood UK has commission-free stock trading, and tools to help shape your financial future. Limitations, risks and other costs apply, including contract fees when trading options.

**Current Matchers:**
```yaml
  - 'Robinhood: 24/5 Commission-Free Stock Trading & Investing'
```

**Status:** match_failed

---

### roboform-phish

**Official URL:** https://www.roboform.com

**Current Title:** `RoboForm Password Manager | Best Password Manager for 2026`

**Description:** RoboForm Password Manager. Stay secure, productive, and efficient with our seamless free password manager and form filling solution.

**Current Matchers:**
```yaml
  - 'Best Password Manager: No more writing down passwords'
  - 'Multi-platform secure solution to simplify your online experience. One click login on Chrome, Firefox, Safari, IE, Opera, Edge, Windows, Mac, iOS, Android.'
  - 'roboform'
```

**Status:** success

---

### rockauto-phish

**Official URL:** https://www.rockauto.com

**Current Title:** `RockAuto | All The Parts Your Car Will Ever Need`

**Description:** Auto Parts for Your Vehicle at Reliably Low Prices. Fast Online Catalog. DIY-Easy. Your Choice of Quality. Full Manufacturer Warranty.

**Current Matchers:**
```yaml
  - 'Auto Parts for Your Vehicle at Reliably Low Prices. Fast Online Catalog. DIY-Easy. Your Choice of Quality. Full Manufacturer Warranty.'
```

**Status:** success

---

### rocketchat-phish

**Official URL:** https://www.rocket.chat

**Current Title:** `Rocket.Chat | Secure CommsOS™ for Mission-Critical Operations`

**Description:** Centralize real-time messaging, voice, video, AI, and apps for secure, reliable and unified communication among internal and external stakeholders.

**Current Matchers:**
```yaml
  - '<title>Rocket.Chat | Secure CommsOS™ for Mission-Critical Operations'
```

**Status:** success

---

### rockstar-phish

**Official URL:** https://www.rockstargames.com

**Current Title:** `Rockstar Games`

**Description:** The official home of Rockstar Games

**Current Matchers:**
```yaml
  - 'The official home of Rockstar Games'
```

**Status:** success

---

### rockstar-social-club-phish

**Official URL:** https://socialclub.rockstargames.com

**Current Title:** `Rockstar Games`

**Description:** The official home of Rockstar Games

**Current Matchers:**
```yaml
  - 'The official home of Rockstar Games'
```

**Status:** success

---

### salesforce-phish

**Official URL:** https://www.salesforce.com

**Current Title:** `Salesforce UK: The #1 AI CRM | Salesforce UK`

**Description:** Salesforce is the #1 AI CRM, helping companies become Agentic Enterprises where humans and agents drive success together through a unified AI, data, and Customer 360 platform.

**Current Matchers:**
```yaml
  - 'Salesforce is the #1 AI CRM, helping companies become Agentic Enterprises where humans and agents drive success together through a unified AI, data, and Customer 360 platform.'
```

**Status:** success

---

### sams-club-phish

**Official URL:** https://www.samsclub.com

**Current Title:** `Let us know you're not a robot - Sam's Club`

**Current Matchers:**
```yaml
  - 'Shop Samsclub.com today for Every Day Low Prices. Join Sam's Club as a Plus Member and get free same-day or next-day delivery from your club & free shipping on eligible items totaling $50 or more.'
```

**Status:** match_failed

---

### samsung-phish

**Official URL:** https://www.samsung.com

**Current Title:** `Samsung UK | Mobile | Home Electronics | Home Appliances | TV`

**Description:** Welcome to Samsung UK. Discover a wide range of home electronics with cutting-edge technology including TVs, smartphones, tablets, home appliances & more!

**Current Matchers:**
```yaml
  - 'Samsung UK | Mobile | Home Electronics | Home Appliances | TV'
```

**Status:** success

---

### santander-phish

**Official URL:** https://www.santander.com

**Current Title:** `Santander Corporate Website`

**Description:** Our purpose is to help people and businesses prosper. We strive to make all we do Simple, Personal and Fair.

**Current Matchers:**
```yaml
  - 'Our purpose is to help people and businesses prosper. We strive to make all we do Simple, Personal and Fair.'
```

**Status:** success

---

### scotiabank-phish

**Official URL:** https://www.scotiabank.com

**Current Title:** `Scotiabank Global Site`

**Current Matchers:**
```yaml
  - 'Scotiabank Global Site'
```

**Status:** success

---

### seamless-phish

**Official URL:** https://www.seamless.com

**Current Title:** `Prepare your taste buds...`

**Description:** Prepare your taste buds...

**Current Matchers:**
```yaml
  - 'Prepare your taste buds...'
```

**Status:** success

---

### shutterfly-phish

**Official URL:** https://www.shutterfly.com

**Current Title:** `Shutterfly | Photo Books, Cards, Prints, Wall Art, Gifts, Wedding`

**Description:** Shop Shutterfly for custom photo books, prints, cards, invitations, gifts, wall art, calendars, and more. Personalize your favorite moments with high-quality, meaningful photo products.

**Current Matchers:**
```yaml
  - 'Create photo books, personalize photo cards & stationery, and share photos with family and friends at Shutterfly.com.'
```

**Status:** match_failed

---

### signal-phish

**Official URL:** https://www.signal.org

**Current Title:** `Signal >> Home`

**Description:** Say "hello" to a different messaging experience. An unexpected focus on privacy, combined with all of the features you expect.

**Current Matchers:**
```yaml
  - 'Say &quot;hello&quot; to a different messaging experience. An unexpected focus on privacy, combined with all of the features you expect.'
```

**Status:** success

---

### sketch-phish

**Official URL:** https://www.sketch.com

**Current Title:** `Sketch · Design, prototype, collaborate and handoff`

**Description:** Sketch puts the focus back on you and your work. Made by designers, for designers.

**Current Matchers:**
```yaml
  - '<title>Sketch · Design, prototype, collaborate and handoff'
```

**Status:** success

---

### sky-phish

**Official URL:** https://www.sky.com

**Current Title:** `Discover TV, Broadband & Mobile Phone Packages with Sky`

**Description:** Discover Sky packages for TV, broadband & mobile including Glass - the new streaming TV with Sky Inside. Login to manage your My Sky account & more.

**Current Matchers:**
```yaml
  - 'Discover TV, Broadband & Mobile Phone Packages with Sky'
```

**Status:** success

---

### skype-phish

**Official URL:** https://www.skype.com

**Current Title:** `Free Online Meetings & Video Calls | Microsoft Teams`

**Description:** Start free Teams video calls instantly! Connect, collaborate, and communicate effortlessly. Enjoy features like video calls, chat, file sharing, and more. Perfect for personal use, freelancers, solopreneurs, PTAs, teachers, small businesses and social events. Get started today!

**Current Matchers:**
```yaml
  - 'Skype | Stay connected with free video calls worldwide'
```

**Status:** match_failed

---

### skyscanner-phish

**Official URL:** https://www.skyscanner.net

**Current Title:** `Compare Cheap Flights & Book Airline Tickets to Everywhere | Skyscanner`

**Description:** Compare cheap flight prices from all major airlines and travel agents, and find the cheapest tickets to all your favourite destinations. Book online today.

**Current Matchers:**
```yaml
  - 'Compare Cheap Flights &amp; Book Airline Tickets to Everywhere | Skyscanner'
```

**Status:** success

---

### snapchat-phish

**Official URL:** https://www.snapchat.com

**Current Title:** `Snapchat – Say it in a Snap`

**Description:** Chat, send Snaps, explore Stories and try Lenses on desktop, or download the app on mobile! See how to connect and create with friends on Snapchat, wherever you are.

**Current Matchers:**
```yaml
  - 'Snapchat - Say It In A Snap'
  - 'Snapchat'
```

**Status:** success

---

### snapfish-phish

**Official URL:** https://www.snapfish.com

**Current Title:** `Snapfish | Personalized Gifts, Cards, Home Decor, Photo Books & More`

**Description:** Design and send the best personalized gifts, cards, home decor, photo books, and prints with Snapfish.

**Current Matchers:**
```yaml
  - 'Design and send the best personalized gifts, cards, home decor, photo books, and prints with Snapfish.'
```

**Status:** success

---

### societe-generale-phish

**Official URL:** https://www.societegenerale.com

**Current Title:** `Accueil - Groupe Société Générale`

**Description:** Un leader européen des services financiers depuis plus de 150 ans, Société Générale s’appuie sur trois métiers complémentaires, la Banque de détail en France, la Banque de détail et Services Financiers Internationaux et la Banque de Grande Clientèle et Solutions Investisseurs.

**Current Matchers:**
```yaml
  - 'Un leader européen des services financiers depuis plus de 150 ans, Société Générale s’appuie sur trois métiers complémentaires, la Banque de détail en France, la Banque de détail et Services Financiers Internationaux et la Banque de Grande Clientèle et Solutions Investisseurs.'
```

**Status:** success

---

### soundcloud-phish

**Official URL:** https://www.soundcloud.com

**Current Title:** `Stream and listen to music online for free with SoundCloud`

**Description:** Discover and play over 320 million music tracks. Join the worldâs largest online community of artists, bands, DJs, and audio creators.

**Current Matchers:**
```yaml
  - '<title>Stream and listen to music online for free with SoundCloud'
```

**Status:** success

---

### spotify-phish

**Official URL:** https://www.spotify.com

**Current Title:** `Spotify – Web Player`

**Current Matchers:**
```yaml
  - 'Spotify - Web Player: Music for everyone'
```

**Status:** match_failed

---

### spreadshirt-phish

**Official URL:** https://www.spreadshirt.com

**Current Title:** `Spreadshirt Print on Demand Platform | Spreadshirt`

**Description:** Create or Shop Unique Apparel, Accessoires or Home Products at Spreadshirt. Choose from several Products and Customize with Text, Designs

**Current Matchers:**
```yaml
  - 'Spreadshirt Print on Demand Platform | Spreadshirt'
```

**Status:** success

---

### square-phish

**Official URL:** https://www.squareup.com

**Current Title:** `Power your entire business | Square`

**Description:** Sell more. Sell anywhere. Streamline operations. Manage your staff. Get paid faster. Sign up for Square today.

**Current Matchers:**
```yaml
  - 'Sell anywhere. Diversify revenue streams. Streamline operations. Manage your staff. Get paid faster. Sign up for Square today.'
  - 'Square Dashboard'
```

**Status:** match_failed

---

### squarespace-phish

**Official URL:** https://www.squarespace.com

**Current Title:** `Website Builder – Easily Create Your Own Website — Squarespace`

**Description:** Create a website and grow your business with a free Squarespace trial. Start with customizable website templates, AI website builder tools, or a domain name.

**Current Matchers:**
```yaml
  - '<title>Website Builder &mdash; Easily Create Your Own Website &mdash; Squarespace'
```

**Status:** match_failed

---

### standard-chartered-phish

**Official URL:** https://www.sc.com

**Current Title:** `Standard Chartered Bank`

**Current Matchers:**
```yaml
  - 'Standard Chartered Bank'
```

**Status:** success

---

### starz-phish

**Official URL:** https://www.starz.com

**Current Title:** `STARZ - Captivating Original Series. Hit Movies. Bold Storytelling.`

**Description:** STARZ brings diverse perspectives to life through bold storytelling. Sign-up to stream original series, movies, extras, and more—on-demand and ad-free.

**Current Matchers:**
```yaml
  - 'Starz'
  - 'STARZ brings diverse perspectives to life through bold storytelling. Sign-up to stream original series, movies, extras, and more—on-demand and ad-free.'
```

**Status:** success

---

### steam-phish

**Official URL:** https://www.steampowered.com

**Current Title:** `Welcome to Steam`

**Description:** Steam is the ultimate destination for playing, discussing, and creating games.

**Current Matchers:**
```yaml
  - 'Welcome to Steam'
  - 'Steam is the ultimate destination for playing, discussing, and creating games.'
```

**Status:** success

---

### stripe-phish

**Official URL:** https://www.stripe.com

**Current Title:** `Stripe | Financial Infrastructure to Grow Your Revenue`

**Description:** Stripe is a financial services platform that helps all types of businesses accept payments, build flexible billing models and manage money movement.

**Current Matchers:**
```yaml
  - 'Stripe is a suite of APIs powering online payment processing and commerce solutions for internet businesses of all sizes. Accept payments and scale faster with AI.'
  - 'Stripe Dashboard'
```

**Status:** success

---

### sumitomo-mitsui-phish

**Official URL:** https://smbc.co.jp

**Current Title:** `OäZFâs`

**Description:** OäZFâsÌz[y[WÅ·BûÀJÝAZî[AOÝaàAMõÌeí¤iET[rXÉÂ¢ÄfÚµÄ¢Ü·BC^[lbgoLOÅÍAcÆïâUAOÝaàâMõÌ¨æèø«Ì¼AÖÈWebÊ à²p¢½¾¯Ü·B

**Current Matchers:**
```yaml
  - 'Sumitomo Mitsui'
  - 'Sign On'
```

**Status:** match_failed

---

### summit-racing-phish

**Official URL:** https://www.summitracing.com

**Current Title:** `Pardon Our Interruption`

**Current Matchers:**
```yaml
  - 'Summit Racing'
  - '<title>Summit Racing | Aftermarket Parts &amp; Accessories, Performance Parts, OEM Auto Parts'
```

**Status:** match_failed

---

### suntrust-phish

**Official URL:** https://www.suntrust.com

**Current Title:** `Truist Bank | Checking, Savings, Lending, and Financial Services`

**Description:** Your journey to better banking starts with Truist. Checking and savings accounts, credit cards, mortgages, small business, commercial banking, and more.

**Current Matchers:**
```yaml
  - 'SunTrust'
  - 'Sign On'
```

**Status:** match_failed

---

### target-phish

**Official URL:** https://www.target.com

**Current Title:** `Target : Expect More. Pay Less.`

**Description:** Shop Target online and in-store for everything from groceries and essentials to clothing and electronics. Choose contactless pickup or delivery today.

**Current Matchers:**
```yaml
  - 'Target : Expect More. Pay Less.'
```

**Status:** success

---

### td-bank-phish

**Official URL:** https://www.td.com

**Current Title:** `TD Canada Trust - Personal, Small Business Banking & Investing`

**Description:** TD Canada Trust products and services include investing, mortgages, banking and small business. Featuring TD Canada Trust online banking

**Current Matchers:**
```yaml
  - 'Explore TD's online banking services, credit cards, checking accounts, savings accounts, loans and more financial products for you and your business.'
```

**Status:** match_failed

---

### telegram-phish

**Official URL:** https://www.telegram.org

**Current Title:** `Telegram Messenger`

**Description:** Fast. Secure. Powerful.

**Current Matchers:**
```yaml
  - 'Telegram is a cloud-based mobile and desktop messaging app with a focus on security and speed.'
```

**Status:** success

---

### three-mobile-phish

**Official URL:** https://three.co.uk

**Current Title:** `Three | Phones, Broadband & SIM Only deals`

**Description:** Get phones, tablets, Mobile Broadband and SIM Only deals on the UK’s Fastest 5G Network.

**Current Matchers:**
```yaml
  - 'Three | Phones, Broadband &amp; SIM Only deals'
```

**Status:** success

---

### ticketmaster-phish

**Official URL:** https://www.ticketmaster.com

**Current Title:** `Ticketmaster: Buy Verified Tickets for Concerts, Sports, Theater and Events`

**Description:** Buy and sell tickets online for concerts, sports, theater, family and other events near you from Ticketmaster.

**Current Matchers:**
```yaml
  - 'Buy and sell tickets online for concerts, sports, theater, family and other events near you from Ticketmaster.'
```

**Status:** success

---

### todoist-phish

**Official URL:** https://www.todoist.com

**Current Title:** `Todoist | A To-Do List to Organize Your Work & Life`

**Description:** Trusted by 30 million people and teams. Todoist is the world's favorite task manager and to-do list app. Finally become focused, organized and calm.

**Current Matchers:**
```yaml
  - '<title>Todoist | A To-Do List to Organize Your Work &amp; Life'
```

**Status:** success

---

### trip-phish

**Official URL:** https://www.trip.com

**Current Title:** `Trip.com Official Siteââ | Travel Deals and Promotions`

**Description:** Choose from over 1.2 million hotels in more than 200 countries, 30 million real guest reviews. Book flights to over 5,000 destinations worldwide. 24/7 Customer Service.

**Current Matchers:**
```yaml
  - 'Trip.com: Book cheap flights, hotels, car rentals, trains and more'
```

**Status:** match_failed

---

### truist-phish

**Official URL:** https://www.truist.com/

**Current Title:** `Truist Bank | Checking, Savings, Lending, and Financial Services`

**Description:** Your journey to better banking starts with Truist. Checking and savings accounts, credit cards, mortgages, small business, commercial banking, and more.

**Current Matchers:**
```yaml
  - 'Your journey to better banking starts with Truist. Checking and savings accounts, credit cards, mortgages, small business, commercial banking, and more.'
```

**Status:** success

---

### twilio-phish

**Official URL:** https://www.twilio.com

**Current Title:** `Communications APIs with AI and data for SMS, Voice, Email | Twilio`

**Description:** Create amazing customer experiences with our Customer Engagement Platform (CEP) that combines communication APIs with AI. Build solutions for SMS, WhatsApp, voice, and email.

**Current Matchers:**
```yaml
  - '<title>Communications APIs with AI and data for SMS, Voice, Email | Twilio'
```

**Status:** success

---

### twitch-phish

**Official URL:** https://www.twitch.tv

**Current Title:** `Twitch`

**Description:** Twitch is an interactive livestreaming service for content spanning gaming, entertainment, sports, music, and more.

**Current Matchers:**
```yaml
  - 'Twitch is an interactive livestreaming service for content spanning gaming, entertainment, sports, music, and more. There’s something for everyone on Twitch.'
```

**Status:** match_failed

---

### typeform-phish

**Official URL:** https://www.typeform.com

**Current Title:** `Typeform: People-Friendly Forms and Surveys`

**Description:** Build beautiful, interactive forms — get more responses. No coding needed. Templates for quizzes, research, feedback, lead generation, and more. Sign up FREE.

**Current Matchers:**
```yaml
  - '<title>Typeform: People-Friendly Forms and Surveys'
```

**Status:** success

---

### uob-phish

**Official URL:** https://uob.com.sg

**Current Title:** `United Overseas Bank`

**Current Matchers:**
```yaml
  - 'United Overseas Bank'
```

**Status:** success

---

### uplay-phish

**Official URL:** https://www.ubisoft.com

**Current Title:** `Ubisoft`

**Description:** Ubisoft website

**Current Matchers:**
```yaml
  - 'Welcome to the official website for Ubisoft, creator of Assassin's Creed, Just Dance, Tom Clancy's video game series, Rayman, Far Cry, Watch Dogs and many others. Learn more about our breathtaking games here!'
```

**Status:** match_failed

---

### usps-phish

**Official URL:** https://www.usps.com

**Current Title:** `Welcome | USPS`

**Description:** Welcome to USPS.com. Track packages, pay and print postage with Click-N-Ship, schedule free package pickups, look up ZIP Codes, calculate postage prices, and find everything you need for sending mail and shipping packages.

**Current Matchers:**
```yaml
  - 'Welcome to USPS.com. Track packages, pay and print postage with Click-N-Ship, schedule free package pickups, look up ZIP Codes, calculate postage prices, and find everything you need for sending mail and shipping packages.'
```

**Status:** success

---

### varo-phish

**Official URL:** https://www.varo.com

**Current Title:** `Home - Varo`

**Current Matchers:**
```yaml
  - 'Home - Varo'
```

**Status:** success

---

### venmo-phish

**Official URL:** https://www.venmo.com

**Current Title:** `Pay Friends | Payments App | Venmo`

**Description:** Welcome to Venmo! Manage your account balance, send/receive money, split bills, pay friends, and stay connected with your network all in one place.

**Current Matchers:**
```yaml
  - 'Pay Friends | Payments App | Venmo'
  - 'Pay. Get paid. Shop. Share.'
```

**Status:** success

---

### viber-phish

**Official URL:** https://www.viber.com

**Current Title:** `Home | Viber`

**Current Matchers:**
```yaml
  - 'Home | Viber'
```

**Status:** success

---

### vistaprint-phish

**Official URL:** https://www.vistaprint.com

**Current Title:** `VistaPrint Official Website: Online Printing Services`

**Description:** VistaPrint online printing services help you create and order the best custom products: marketing materials, business cards, signage, promotional products, custom gifts, packaging and more.

**Current Matchers:**
```yaml
  - 'Vistaprint'
  - '<title>VistaPrint Official Website: Online Printing Services'
```

**Status:** success

---

### visual-studio-code-phish

**Official URL:** https://www.visualstudio.com

**Current Title:** `Visual Studio: IDE and Code Editor for Software Development`

**Description:** Visual Studio dev tools & services make app development easy for any developer, on any platform & language. Develop with our code editor or IDE anywhere for free.

**Current Matchers:**
```yaml
  - 'Visual Studio Code is a code editor redefined and optimized for building and debugging modern web and cloud applications.  Visual Studio Code is free and available on your favorite platform - Linux, macOS, and Windows.'
  - 'Visual Studio Code - Code Editing. Redefined'
```

**Status:** match_failed

---

### vlc-player-phish

**Official URL:** https://www.videolan.org

**Current Title:** `VLC: Official site - Free multimedia solutions for all OS! - VideoLAN`

**Current Matchers:**
```yaml
  - 'VLC: Official site - Free multimedia solutions for all OS! - VideoLAN'
```

**Status:** success

---

### vodafone-phish

**Official URL:** https://vodafone.co.uk

**Current Title:** `Vodafone - Our Best Ever Network | Now With 5G`

**Description:** Now offering 5G, experience our best ever network. Shop the latest smartphones, great sim only deals and our award winning broadband.

**Current Matchers:**
```yaml
  - 'Vodafone &ndash; Our Best Ever Network'
```

**Status:** match_failed

---

### vudu-phish

**Official URL:** https://www.vudu.com

**Current Title:** `Service is not available in your region.`

**Current Matchers:**
```yaml
  - 'Vudu'
  - 'title="Fandango at Home"'
```

**Status:** match_failed

---

### walmart-phish

**Official URL:** https://www.walmart.com

**Current Title:** `Walmart | Save Money. Live better.`

**Description:** Shop Walmart.com today for Every Day Low Prices. Join Walmart+ for unlimited free delivery from your store & free shipping with no order minimum. Start your free 30-day trial now!

**Current Matchers:**
```yaml
  - 'Walmart | Save Money. Live better.'
```

**Status:** success

---

### webflow-phish

**Official URL:** https://www.webflow.com

**Current Title:** `Webflow: Create a custom website | Visual website builder`

**Description:** Create custom, responsive websites with the power of code — visually. Design and build your site with a flexible CMS and top-tier hosting. Try Webflow for free.

**Current Matchers:**
```yaml
  - '<title>Webflow: Create a custom website | Visual website builder'
```

**Status:** success

---

### wells-fargo-phish

**Official URL:** https://www.wellsfargo.com

**Current Title:** `Wells Fargo Bank | Financial Services & Online Banking`

**Description:** Committed to the financial health of our customers and communities. Explore bank accounts, loans, mortgages, investing, credit cards & banking services»

**Current Matchers:**
```yaml
  - 'Committed to the financial health of our customers and communities. Explore bank accounts, loans, mortgages, investing, credit cards & banking services»'
```

**Status:** match_failed

---

### westpac-phish

**Official URL:** https://westpac.com.au

**Current Title:** `Westpac - Personal, Business and Corporate Banking`

**Description:** From to-do to done, it takes a little Westpac. Westpac offers a range of smart solutions to support your personal, business and corporate banking needs.

**Current Matchers:**
```yaml
  - 'From to-do to done, it takes a little Westpac. Westpac offers a range of smart solutions to support your personal, business and corporate banking needs.'
```

**Status:** success

---

### wetransfer-phish

**Official URL:** https://www.wetransfer.com

**Current Title:** `WeTransfer | Send Large Files Fast`

**Description:** The simple, quick and secure way to send your files around the world without an account. Share your files, photos, and videos today for free.

**Current Matchers:**
```yaml
  - 'WeTransfer - Send Large Files &amp; Share Photos Online'
```

**Status:** match_failed

---

### wikipedia-phish

**Official URL:** https://www.wikipedia.com

**Current Title:** `Wikipedia`

**Description:** Wikipedia is a free online encyclopedia, created and edited by volunteers around the world and hosted by the Wikimedia Foundation.

**Current Matchers:**
```yaml
  - 'Log in - Wikipedia'
```

**Status:** match_failed

---

### winscp-phish

**Official URL:** https://www.winscp.net

**Current Title:** `WinSCP :: Official Site :: Free SFTP and FTP client for Windows`

**Description:** WinSCP is a free file manager for Windows supporting FTP, SFTP, S3 and WebDAV.

**Current Matchers:**
```yaml
  - 'WinSCP :: Official Site :: Free SFTP and FTP client for Windows'
```

**Status:** success

---

### wise-phish

**Official URL:** https://www.wise.com

**Current Title:** `Wise: The international account | Money without borders | Wise Ireland`

**Description:** 160+ countries, 40 currencies, one account. Save when you send, spend and manage your money internationally.

**Current Matchers:**
```yaml
  - '160+ countries, 40 currencies, one account. Save when you send, spend and manage your money internationally.'
```

**Status:** success

---

### wish-phish

**Official URL:** https://www.wish.com

**Current Title:** `Wish | Shop and Save`

**Description:** Discover affordable items for your home and life needs. Enjoy our money back guarantee, frequent discounts, flat rate shipping (select markets), and more.

**Current Matchers:**
```yaml
  - 'Wish'
  - '<title>Wish | Shop and Save'
```

**Status:** success

---

### xbox-phish

**Official URL:** https://www.xbox.com

**Current Title:** `Xbox Official Site (United Kingdom): Play Games Anywhere | Xbox`

**Description:** Play with Xbox on PC, console & more. Explore Game Pass. Discover thousands of games. Shop controllers, handhelds & consoles. Join players anywhere.

**Current Matchers:**
```yaml
  - 'Xbox Official Site: Play Games Anywhere | Xbox'
```

**Status:** match_failed

---

### yahoo-phish

**Official URL:** https://www.yahoo.com

**Current Title:** `Your privacy choices`

**Current Matchers:**
```yaml
  - 'Best-in-class Yahoo Mail, breaking local, national and global news, finance, sport, music, films and more. You get more out of the web, you get more out of life.'
```

**Status:** match_failed

---

### youtube-music-phish

**Official URL:** https://music.youtube.com

**Current Title:** `Before you continue`

**Current Matchers:**
```yaml
  - 'Your browser is deprecated. Please upgrade.'
```

**Status:** match_failed

---

### zoom-phish

**Official URL:** https://www.zoom.us

**Current Title:** `One platform to connect | Zoom`

**Description:** Modernize workflows with Zoom's trusted collaboration tools: including video meetings, Zoom Chat, VoIP phone, webinars, whiteboard, contact center, and events.

**Current Matchers:**
```yaml
  - 'One platform to connect | Zoom'
```

**Status:** success

---

## WAF/Cloudflare Blocked Sites

The following sites could not be validated due to WAF/Cloudflare protection:

- **advance-auto-phish**: https://www.advanceautoparts.com (WAF/Cloudflare blocked (status: 403))
- **americanmuscle-phish**: https://www.americanmuscle.com (WAF/Cloudflare blocked (status: 403))
- **anydesk-phish**: https://www.anydesk.com (WAF/Cloudflare blocked (status: 403))
- **autozone-phish**: https://www.autozone.com (WAF/Cloudflare blocked (status: 403))
- **bigcommerce-phish**: https://www.bigcommerce.com (WAF/Cloudflare blocked (status: 403))
- **bjs-phish**: https://www.bjs.com (WAF/Cloudflare blocked (status: 403))
- **bnp-paribas-phish**: https://www.bnpparibas.com (WAF/Cloudflare blocked (status: 403))
- **box-storage-phish**: https://www.box.com (WAF/Cloudflare blocked (status: 403))
- **cafepress-phish**: https://www.cafepress.com (WAF/Cloudflare blocked (status: 403))
- **canva-phish**: https://www.canva.com (WAF/Cloudflare blocked (status: 403))
- **caviar-phish**: https://www.trycaviar.com (WAF/Cloudflare blocked (status: 403))
- **chatgpt-phish**: https://www.chatgpt.com (WAF/Cloudflare blocked (status: 403))
- **chime-phish**: https://www.chime.com (WAF/Cloudflare blocked (status: 403))
- **cj-pony-parts-phish**: https://www.cjponyparts.com (WAF/Cloudflare blocked (status: 403))
- **coinbase-phish**: https://www.coinbase.com (WAF/Cloudflare blocked (status: 403))
- **crunchyroll-phish**: https://www.crunchyroll.com (WAF/Cloudflare blocked (status: 403))
- **cvs-phish**: https://www.cvs.com (WAF/Cloudflare blocked (status: 403))
- **depop-phish**: https://www.depop.com (WAF/Cloudflare blocked (status: 403))
- **doordash-phish**: https://www.doordash.com (WAF/Cloudflare blocked (status: 403))
- **edelbrock-phish**: https://www.edelbrock.com (WAF/Cloudflare blocked (status: 403))
- **epic-games-phish**: https://www.epicgames.com (WAF/Cloudflare blocked (status: 403))
- **etsy-phish**: https://www.etsy.com (WAF/Cloudflare blocked (status: 403))
- **expedia-phish**: https://www.expedia.com (WAF/Cloudflare blocked (status: 429))
- **fortnite-phish**: https://www.fortnite.com (WAF/Cloudflare blocked (status: 403))
- **gamestop-phish**: https://www.gamestop.com (WAF/Cloudflare blocked (status: 403))
- **goat-phish**: https://www.goat.com (WAF/Cloudflare blocked (status: 403))
- **godaddy-phish**: https://www.godaddy.com (WAF/Cloudflare blocked (status: 403))
- **grailed-phish**: https://www.grailed.com (WAF/Cloudflare blocked (status: 403))
- **harbor-freight-phish**: https://www.harborfreight.com (WAF/Cloudflare blocked (status: 403))
- **holley-phish**: https://www.holley.com (WAF/Cloudflare blocked (status: 403))
- **homeaway-phish**: https://www.homeaway.com (WAF/Cloudflare blocked (status: 429))
- **hotels-phish**: https://www.hotels.com (WAF/Cloudflare blocked (status: 429))
- **jegs-phish**: https://www.jegs.com (WAF/Cloudflare blocked (status: 403))
- **kinguin-phish**: https://www.kinguin.net (WAF/Cloudflare blocked (status: 403))
- **ko-fi-phish**: https://www.ko-fi.com (WAF/Cloudflare blocked (status: 403))
- **linode-phish**: https://www.linode.com (WAF/Cloudflare blocked (status: 403))
- **loaded-phish**: https://www.loaded.com (WAF/Cloudflare blocked (status: 403))
- **mastercard-phish**: https://www.mastercard.com (WAF/Cloudflare blocked (status: 403))
- **mcafee-phish**: https://www.mcafee.com (WAF/Cloudflare blocked (status: 403))
- **medium-phish**: https://www.medium.com (WAF/Cloudflare blocked (status: 403))
- **mercari-phish**: https://www.mercari.com (WAF/Cloudflare blocked (status: 403))
- **microcenter-phish**: https://www.microcenter.com (WAF/Cloudflare blocked (status: 403))
- **namecheap-phish**: https://www.namecheap.com (WAF/Cloudflare blocked (status: 403))
- **napa-phish**: https://www.napaonline.com (WAF/Cloudflare blocked (status: 403))
- **nordvpn-phish**: https://www.nordvpn.com (WAF/Cloudflare blocked (status: 403))
- **onlyfans-phish**: https://www.onlyfans.com (WAF/Cloudflare blocked (status: 403))
- **openai-phish**: https://www.openai.com (WAF/Cloudflare blocked (status: 403))
- **oracle-cloud-phish**: https://www.oracle.com/cloud (WAF/Cloudflare blocked (status: 403))
- **oreilly-phish**: https://www.oreillyauto.com (WAF/Cloudflare blocked (status: 403))
- **partsgeek-phish**: https://www.partsgeek.com (WAF/Cloudflare blocked (status: 403))
- **patreon-phish**: https://www.patreon.com (WAF/Cloudflare blocked (status: 403))
- **pepboys-phish**: https://www.pepboys.com (WAF/Cloudflare blocked (status: 403))
- **plusnet-phish**: https://www.plus.net (WAF/Cloudflare blocked (status: 401))
- **priceline-phish**: https://www.priceline.com (WAF/Cloudflare blocked (status: 403))
- **printify-phish**: https://www.printify.com (WAF/Cloudflare blocked (status: 403))
- **quora-phish**: https://www.quora.com (WAF/Cloudflare blocked (status: 403))
- **rabobank-phish**: https://www.rabobank.com (WAF/Cloudflare blocked (status: 403))
- **redbubble-phish**: https://www.redbubble.com (WAF/Cloudflare blocked (status: 403))
- **revolut-phish**: https://www.revolut.com (WAF/Cloudflare blocked (status: 403))
- **rite-aid-phish**: https://www.riteaid.com (WAF/Cloudflare blocked (status: 403))
- **royal-mail-phish**: https://www.royalmail.com (WAF/Cloudflare blocked (status: 403))
- **shein-phish**: https://www.shein.com (WAF/Cloudflare blocked (status: 403))
- **sling-phish**: https://www.sling.com (WAF/Cloudflare blocked (status: 403))
- **sofi-phish**: https://www.sofi.com (WAF/Cloudflare blocked (status: 403))
- **stockx-phish**: https://www.stockx.com (WAF/Cloudflare blocked (status: 403))
- **teepublic-phish**: https://www.teepublic.com (WAF/Cloudflare blocked (status: 403))
- **teespring-phish**: https://www.teespring.com (WAF/Cloudflare blocked (status: 403))
- **threadless-phish**: https://www.threadless.com (WAF/Cloudflare blocked (status: 403))
- **tidal-phish**: https://www.tidal.com (WAF/Cloudflare blocked (status: 403))
- **trading212-phish**: https://www.trading212.com (WAF/Cloudflare blocked (status: 403))
- **tripadvisor-phish**: https://www.tripadvisor.com (WAF/Cloudflare blocked (status: 403))
- **ubs-phish**: https://www.ubs.com (WAF/Cloudflare blocked (status: 403))
- **vrbo-phish**: https://www.vrbo.com (WAF/Cloudflare blocked (status: 429))
- **vultr-phish**: https://my.vultr.com/ (WAF/Cloudflare blocked (status: 403))
- **wayfair-phish**: https://www.wayfair.com (WAF/Cloudflare blocked (status: 429))
- **webex-phish**: https://www.webex.com (WAF/Cloudflare blocked (status: 403))
- **zazzle-phish**: https://www.zazzle.com (WAF/Cloudflare blocked (status: 403))
- **zelle-phish**: https://www.zellepay.com (WAF/Cloudflare blocked (status: 403))

---

## Errors

- **ace-hardware-phish**: No title found on official site
- **adobe-phish**: Failed to fetch official site (timeout or connection error)
- **affirm-phish**: No title found on official site
- **afterpay-phish**: No title found on official site
- **airtable-phish**: No title found on official site
- **ally-bank-phish**: Failed to fetch official site (timeout or connection error)
- **amazon-phish**: No title found on official site
- **amplitude-phish**: Failed to fetch official site (timeout or connection error)
- **anthropic-phish**: No title found on official site
- **anydo-phish**: No title found on official site
- **asana-phish**: No title found on official site
- **atlassian-phish**: No title found on official site
- **auth0-phish**: No title found on official site
- **autodesk-phish**: No title found on official site
- **avast-phish**: No title found on official site
- **azure-phish**: Failed to fetch official site (timeout or connection error)
- **backblaze-phish**: No title found on official site
- **bestbuy-phish**: Failed to fetch official site (timeout or connection error)
- **bethesda-phish**: No title found on official site
- **binance-phish**: No title found on official site
- **bitwarden-phish**: No title found on official site
- **blender-phish**: No title found on official site
- **bmo-phish**: Failed to fetch official site (timeout or connection error)
- **booking-com-phish**: No title found on official site
- **booking-phish**: No title found on official site
- **brave-phish**: No title found on official site
- **brighthr-phish**: No title found on official site
- **buymeacoffee-phish**: No title found on official site
- **calendly-phish**: No title found on official site
- **cloudflare-phish**: No title found on official site
- **codesandbox-phish**: No title found on official site
- **commonwealth-bank-phish**: No title found on official site
- **costa-phish**: Failed to fetch official site (timeout or connection error)
- **csgo-phish**: No title found on official site
- **current-phish**: No title found on official site
- **cyberghost-phish**: No title found on official site
- **dbs-phish**: No title found on official site
- **dhl-phish**: Failed to fetch official site (timeout or connection error)
- **discord-phish**: No title found on official site
- **docusign-phish**: No title found on official site
- **duckduckgo-phish**: No title found on official site
- **eset-phish**: No title found on official site
- **facebook-phish**: No title found on official site
- **fanatical-phish**: No title found on official site
- **fastmail-phish**: No title found on official site
- **fifth-third-bank-phish**: No title found on official site
- **figma-phish**: No title found on official site
- **firefox-phish**: No title found on official site
- **framer-phish**: No title found on official site
- **fubo-phish**: No title found on official site
- **fullstory-phish**: Failed to fetch official site (timeout or connection error)
- **g2a-phish**: Failed to fetch official site (timeout or connection error)
- **gemini-phish**: No title found on official site
- **gitlab-phish**: No title found on official site
- **gitpod-phish**: No title found on official site
- **gog-phish**: No title found on official site
- **google-phish**: No title found on official site
- **gumroad-phish**: No title found on official site
- **heroku-phish**: No title found on official site
- **hotjar-phish**: Failed to fetch official site (timeout or connection error)
- **hubspot-phish**: No title found on official site
- **huntington-bank-phish**: Failed to fetch official site (timeout or connection error)
- **icloud-phish**: No title found on official site
- **instacart-phish**: No title found on official site
- **instagram-phish**: No title found on official site
- **intercom-phish**: Failed to fetch official site (timeout or connection error)
- **irs-phish**: No title found on official site
- **itch-io-phish**: No title found on official site
- **kakao-login-phish**: No title found on official site
- **kayak-phish**: No title found on official site
- **keepass-phish**: No title found on official site
- **keybank-phish**: Failed to fetch official site (timeout or connection error)
- **klarna-phish**: No title found on official site
- **kraken-phish**: No title found on official site
- **league-of-legends-phish**: No title found on official site
- **line-phish**: No title found on official site
- **linear-phish**: No title found on official site
- **loom-phish**: No title found on official site
- **magento-phish**: Failed to fetch official site (timeout or connection error)
- **malwarebytes-phish**: No title found on official site
- **messenger-phish**: No title found on official site
- **midjourney-phish**: Failed to fetch official site (timeout or connection error)
- **miro-phish**: No title found on official site
- **mixpanel-phish**: Failed to fetch official site (timeout or connection error)
- **n26-phish**: No title found on official site
- **natwest-phish**: No title found on official site
- **netlify-phish**: No title found on official site
- **newegg-phish**: No title found on official site
- **nintendo-phish**: No title found on official site
- **obsidian-phish**: No title found on official site
- **overstock-phish**: No title found on official site
- **ovh-phish**: No title found on official site
- **paypal-phish**: No title found on official site
- **pia-phish**: No title found on official site
- **pinterest-phish**: No title found on official site
- **pnc-bank-phish**: Failed to fetch official site (timeout or connection error)
- **poshmark-phish**: No title found on official site
- **printful-phish**: No title found on official site
- **puma-phish**: No title found on official site
- **rbc-phish**: No title found on official site
- **regions-bank-phish**: No title found on official site
- **ring-phish**: No title found on official site
- **roam-research-phish**: No title found on official site
- **roblox-phish**: No title found on official site
- **roku-phish**: No title found on official site
- **scaleway-phish**: No title found on official site
- **scribd-phish**: No title found on official site
- **segment-phish**: Failed to fetch official site (timeout or connection error)
- **shopify-phish**: No title found on official site
- **slack-phish**: No title found on official site
- **society6-phish**: No title found on official site
- **sophos-phish**: Failed to fetch official site (timeout or connection error)
- **substack-phish**: No title found on official site
- **surfshark-phish**: No title found on official site
- **sync-storage-phish**: No title found on official site
- **teamviewer-phish**: No title found on official site
- **thunderbird-phish**: No title found on official site
- **tiktok-phish**: No title found on official site
- **tractor-supply-phish**: Failed to fetch official site (timeout or connection error)
- **trello-phish**: No title found on official site
- **trend-micro-phish**: No title found on official site
- **tutanota-phish**: Failed to fetch official site (timeout or connection error)
- **twitter-phish**: No title found on official site
- **uber-phish**: No title found on official site
- **under-armour-phish**: No title found on official site
- **unicredit-phish**: Failed to fetch official site (timeout or connection error)
- **us-bank-phish**: No title found on official site
- **valorant-phish**: No title found on official site
- **vercel-phish**: No title found on official site
- **visa-phish**: No title found on official site
- **walgreens-phish**: No title found on official site
- **wasabi-phish**: No title found on official site
- **wechat-phish**: No title found on official site
- **whatsapp-phish**: No title found on official site
- **whereby-phish**: No title found on official site
- **wix-phish**: No title found on official site
- **zapier-phish**: No title found on official site
- **zoho-phish**: No title found on official site
